# Importing Data Set

In [1]:
import pandas as pd
df = pd.read_csv("diabetic_data.csv")
df = df.drop(["weight", "payer_code", "medical_specialty"], axis=1)

## Probabilities:
### Get the probability of being readmitted into the hospital before or after 30 days, or not at all if a certain condition applies:
#### if diabetic
#### by age
#### by race
#### by gender
#### by type of admission
#### time in hospital
#### by diagnostic
#### glucose serum test result 
#### by A1 Results
#### drug treatment a apatient is under
#### if patient has been changed of meds

In [2]:
df1 = pd.DataFrame(df, columns=["diabetesMed_No", "diabetesMed_No", "readmitted_<30", "readmitted_>30", "readmitted_NO"])

In [3]:
df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [4]:
df

,encounter_id,patient_nbr,race,gender,age,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),6,25,1,1,41,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),1,1,7,3,59,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),1,1,7,2,11,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),1,1,7,2,44,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),1,1,7,1,51,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),1,3,7,3,51,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),1,4,5,5,33,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),1,1,7,1,53,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),2,3,7,10,45,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),1,1,7,6,13,...,No,No,No,No,No,No,No,No,No,NO

In [5]:
df["readmitted"].value_counts(dropna=False, normalize=True)

NO     0.539119
>30    0.349282
<30    0.111599
Name: readmitted, dtype: float64

In [6]:
#def mapping(data,feature):
#    featureMap=dict()
#    count=0
#    for i in sorted(data[feature].unique(),reverse=True):
#        featureMap[i]=count
#        count=count+1
#    data[feature]=data[feature].map(featureMap)
#    return data
#
#

dummies = pd.get_dummies(df)
dummies

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,metformin-rosiglitazone_Steady,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted_<30,readmitted_>30,readmitted_NO
0,2278392,8222157,6,25,1,1,41,0,1,0,...,0,1,0,0,1,1,0,0,0,1
1,149190,55629189,1,1,7,3,59,0,18,0,...,0,1,0,1,0,0,1,0,1,0
2,64410,86047875,1,1,7,2,11,5,13,2,...,0,1,0,0,1,0,1,0,0,1
3,500364,82442376,1,1,7,2,44,1,16,0,...,0,1,0,1,0,0,1,0,0,1
4,16680,42519267,1,1,7,1,51,0,8,0,...,0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,1,3,7,3,51,0,16,0,...,0,1,0,1,0,0,1,0,1,0
101762,443847782,74694222,1,4,5,5,33,3,18,0,...,0,1,0,0,1,0,1,0,0,1
101763,443854148,41088789,1,1,7,1,53,0,9,1,...,0,1,0,1,0,0,1,0,0,1
101764,443857166,31693671,2,3,7,10,45,2,21,0,...,0,1,0,1,0,0,1,0,0,1
101765,443867222,175429310,1,1,7,6,13,3,3,0,...,0,1,0,0,1,1,0,0,0,1

In [67]:
dummies

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,metformin-rosiglitazone_Steady,metformin-pioglitazone_No,metformin-pioglitazone_Steady,change_Ch,change_No,diabetesMed_No,diabetesMed_Yes,readmitted_<30,readmitted_>30,readmitted_NO
0,2278392,8222157,6,25,1,1,41,0,1,0,...,0,1,0,0,1,1,0,0,0,1
1,149190,55629189,1,1,7,3,59,0,18,0,...,0,1,0,1,0,0,1,0,1,0
2,64410,86047875,1,1,7,2,11,5,13,2,...,0,1,0,0,1,0,1,0,0,1
3,500364,82442376,1,1,7,2,44,1,16,0,...,0,1,0,1,0,0,1,0,0,1
4,16680,42519267,1,1,7,1,51,0,8,0,...,0,1,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,1,3,7,3,51,0,16,0,...,0,1,0,1,0,0,1,0,1,0
101762,443847782,74694222,1,4,5,5,33,3,18,0,...,0,1,0,0,1,0,1,0,0,1
101763,443854148,41088789,1,1,7,1,53,0,9,1,...,0,1,0,1,0,0,1,0,0,1
101764,443857166,31693671,2,3,7,10,45,2,21,0,...,0,1,0,1,0,0,1,0,0,1
101765,443867222,175429310,1,1,7,6,13,3,3,0,...,0,1,0,0,1,1,0,0,0,1

In [7]:
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
#plt.scatter(dummies["diabetesMed_No"], dummies["readmitted_<30"])
#plt.scatter(dummies["diabetesMed_No"], dummies["readmitted_>30"])
#plt.scatter(dummies["diabetesMed_No"], dummies["readmitted_NO"])
#plt.scatter(dummies["diabetesMed_Yes"], dummies["readmitted_<30"])#plt.scatter(dummies["diabetesMed_Yes"], dummies["readmitted_>30"])
#plt.scatter(dummies["diabetesMed_Yes"], dummies["readmitted_NO"])

In [66]:
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

df1 = pd.DataFrame(dummies, columns=["diabetesMed_No", "diabetesMed_Yes", "readmitted_<30", "readmitted_>30", "readmitted_NO"])
df1
y = df1['readmitted_NO']
def tipoDePrediccion(df):
    for col in df:
        return col

X = tipoDePrediccion(df1)
#X = df1[["diabetesMed_Yes", "diabetesMed_No"]]





X
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
#
#print(X.shape,y.shape)
#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)
#y_train.value_counts()[1] / len(y_train)

'diabetesMed_No'

In [16]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression().fit(X_train, y_train)
clf

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix
y_pred = clf.predict(X_test)  # esta es mi y predicha
print(accuracy_score(y_test, y_pred))
print(confusion_matrix(y_test,y_pred))

0.5418099636435099
[[    0     0  2301]
 [    0     0  7025]
 [    0     0 11028]]

In [18]:
clf.score(X_train, y_train)

0.5384464206750847

In [19]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LassoCV, LinearRegression
from sklearn.pipeline import make_pipeline

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=3)
Nclf = neigh.fit(X_train,y_train)
Nclf

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.metrics import *
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from math import sqrt
from sklearn.model_selection import cross_val_score
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier, GradientBoostingClassifier, RandomForestClassifier, HistGradientBoostingRegressor
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.calibration import CalibratedClassifierCV

%matplotlib inline

In [ ]:
models = {
#    "Linear": LinearSVC(max_iter=300),
#    "neighbors": KNeighborsClassifier(),
#    "histboosting": HistGradientBoostingClassifier(),
#    "histboosting0.25": HistGradientBoostingClassifier(learning_rate=0.25),
#    "histRegressor": HistGradientBoostingRegressor(),
#    "histRegressor0.20": HistGradientBoostingRegressor(learning_rate=0.2)
#    "forest300,50": RandomForestClassifier(n_estimators=300, max_depth=10),#    "Gradientboosting" : GradientBoostingClassifier(learning_rate=0.2)
}
for name, model in models.items():
    scores = cross_val_score(model, X, y, cv=30)
    print(f"{name} accuracy => {np.mean(scores)}")

#### Linear accuracy => 0.5391191597295207
#### neighbors accuracy => 0.4467201972661065
#### forest300,50 accuracy => 0.5391191597295207
#### Gradientboosting accuracy => 0.5391191597295207

In [ ]:
dummies

In [ ]:
df.dtypes

In [ ]:
df["insulin"].value_counts(dropna=False, normalize=True)

In [ ]:
df.columns

In [ ]:
df["max_glu_serum"].value_counts(dropna=False, normalize=True)

In [ ]:
df.isna().sum()
#df.drop["medical_specialty", "weight", "payer_code", "metformin", ]

In [ ]:
df["nateglinide"].value_counts(dropna=False, normalize=True)

In [ ]:
df["repaglinide"].value_counts(dropna=False, normalize=True)

In [ ]:
df["metformin"].value_counts(dropna=False, normalize=True)

# No limpiar

In [ ]:
df["max_glu_serum"].value_counts()

# No limpiar

In [ ]:
df["change"].value_counts()
print ("")

# Limpiar al segundo

In [ ]:
df["A1Cresult"].value_counts()

# Limpiar al primero(quitar no)

In [ ]:
df["insulin"].value_counts()

In [ ]:
import seaborn as sns
corr = df._get_numeric_data().corr()
corr_matrix = corr
sns.heatmap(corr_matrix)
corr